<div class="card">
    <div class="card-header">
      <!-- {{Title}} -->
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
          <img src="/assets/images/contact.png"
               class="img-responsive center-block"
               style="max-height:300px;padding-bottom:50px" />
        </div>
  
        <div class="text-center">Contact info:</div>
        
  
        <div class="text-center"><a href="https://github.com/KingArron2867" target="_blank">Github</a></div>
        <div class="text-center"> aaman.2867@gmail.com</div>
      </div>
    </div>
  </div>